<div class="background">
  <div class="dialog">
    <h2 *ngIf="!update" mat-dialog-title>Create password</h2>
    <h2 *ngIf="update" mat-dialog-title>Update password</h2>
      <mat-dialog-content>
          <form class="form-container" [formGroup]="credentialForm">
              <div class="input-container">
                  <label>Username: </label>
                  <input formControlName="username" type="text" >
              </div>
              <div class="input-container">
                  <label>Password: </label>
                  <input class="input" formControlName="password" type="text">
              </div>
              <div class="input-container">
                  <label>Website url: </label>
                  <input class="input" formControlName="websiteUrl" type="text" >
              </div>
              <div class="input-container">
                  <label>Description: </label>
                  <textarea class="input" formControlName="description" type="text" id="description" (input)="auto_grow()"></textarea>
              </div>
          </form>
      </mat-dialog-content>
      <mat-dialog-actions class="flex-center">
          <button mat-dialog-close [mat-dialog-close]="true" class="cancel">Cancel</button>
          <button [disabled]="!credentialForm.valid" (click)="validate()" class="create"
          ><p *ngIf="!update">Create</p><p *ngIf="update">Update</p></button>
      </mat-dialog-actions>
  </div>
</div>
