<div class="background">
  <div class="dialog">
      <h2 mat-dialog-title>Create password</h2>
      <mat-dialog-content>
          <form class="form-container" [formGroup]="credentialForm">
              <div class="input-container">
                  <label>Username: </label>
                  <input formControlName="username" type="text" >
              </div>
              <div class="input-container">
                  <label>Password: </label>
                  <input class="input" formControlName="password" type="text">
              </div>
              <div class="input-container">
                  <label>Website url: </label>
                  <input class="input" formControlName="websiteUrl" type="text" >
              </div>
              <div class="input-container">
                  <label>Description: </label>
                  <textarea class="input" formControlName="description"  type="text"></textarea>
              </div>
          </form>
      </mat-dialog-content>
      <mat-dialog-actions class="flex-center">
          <button mat-button mat-dialog-close [mat-dialog-close]="true">Cancel</button>
          <button [disabled]="!credentialForm.valid" mat-button (click)="validate()"
          ><p *ngIf="!update">Create</p><p *ngIf="update">Update</p></button>
      </mat-dialog-actions>
  </div>
</div>
