.dashboard-page {
  display: flex;
  height: 100vh;
}

app-table{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.dashboard-page-left{
  width: 15%;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  text-align: center;
  background-color: #F6F8F9;
  flex-direction: column;
  padding: 20px 0;
}

.buttonsandbottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 95%;
}

.dashboard-page-right{
  width:85%;
  right: 0;
}

.flammename{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.flammename h2{
  font-size: calc(0.5em + 0.8vw);
  margin: 0;
}

.flammename img {
  width: 20px;
  height: auto;
}

.bottomsidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.bottomsidebar button{
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 80%;

  // &:hover{
  //   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //   padding: 0 10px;
  //   cursor: pointer;
  // }
  svg{
    color: #7c7c7c;
  }
}


.sousflammename{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}


.sousflammename button {
  margin-top: 20px;
  width: 85%;
  background-color: #D7EDFF;
  color: #0E73F6;
  font-weight: bold;
  text-align: left;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

}


.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding:  20px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.search-bar input[type="text"] {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  flex-grow: 1;
  font-size: calc(10px + 1vmin);
}

.search-bar input[type="text"]:focus {
  outline: none;
}

.search-bar svg {
  color: #888;
}

.text-with-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding:  20px 40px;
  gap: 20px;
}

.text h1 {
  margin: 0;
  font-size: calc(1em + 1vw);
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons .btn {
  display: flex;
  align-items: center;
  gap:10px;
  padding: 5px 20px;
  font-weight: bold;
  font-size: calc(0.4em + 0.6vw);
  border-radius: 10px;

}

#btnexport{
  background-color:white;
  color:rgba(0, 0, 0, 0.484);
  border: 1px solid rgba(0, 0, 0, 0.1);


}

#btncreatepassword{
  background-color: #4094F7;
  color: #fff;
  border: none;

}

.tab-passwords {
  // Add your styles for this element here
}

button:hover{
  cursor: pointer;
}
