<div class="dialog">
  <h2 mat-dialog-title>Créer un mot de passe</h2>
  <mat-dialog-content>
    <form class="form-container" [formGroup]="passwordForm">
      <div class="input-container">
        <label>Username: </label>
        <input class="input" formControlName="username" type="text" >
      </div>
      <div class="input-container">
        <label>Mot de passe: </label>
        <input class="input" formControlName="password" type="password">
      </div>
      <div class="input-container">
        <label>Url du site: </label>
        <input class="input" formControlName="websiteUrl" type="text" >
      </div>
      <div class="input-container">
        <label>Description: </label>
        <input class="input" formControlName="description"  type="text">
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flex-center">
    <button mat-button mat-dialog-close [mat-dialog-close]="true">Retour</button>
    <button [disabled]="!passwordForm.valid" mat-button (click)="createPassword()" >Valider</button>
  </mat-dialog-actions>
</div>
