<div class="dialog">
  <h2 mat-dialog-title>Créer un mot de passe</h2>
  <mat-dialog-content>
    <form class="form-container">
      <mat-form-field>
        <input matInput type="text" placeholder="Nom d'utilisateur">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Mot de passe">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Description">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close [mat-dialog-close]="true">Retour</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="false">Valider</button>
  </mat-dialog-actions>
</div>
