<div class="dialog">
  <h2 mat-dialog-title>Edit password</h2>
  <mat-dialog-content>
    <form class="form-container" [formGroup]="passwordEditForm">
      <div class="input-container">
        <label>Username: </label>
        <input formControlName="username" type="text" [value]="credential.username" >
      </div>
      <div class="input-container">
        <label>Password: </label>
        <input class="input" formControlName="password" type="password" [value]="credential.username">
      </div>
      <div class="input-container">
        <label>Website url: </label>
        <input class="input" formControlName="websiteUrl" type="text" [value]="credential.username">
      </div>
      <div class="input-container">
        <label>Description: </label>
        <input class="input" formControlName="description"  type="text" [value]="credential.username">
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flex-center">
    <button mat-button mat-dialog-close [mat-dialog-close]="true">Return</button>
    <button [disabled]="!passwordEditForm.valid" mat-button (click)="editPassword()" >Submit</button>
  </mat-dialog-actions>
</div>
